<!DOCTYPE html>
<html>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/join.css' %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/fonts/all.xd' %}" rel='stylesheet'>
    <script src="https://kit.fontawesome.com/ff055b0c10.js" crossorigin="anonymous"></script>
    <head>
        <meta charset='UTF-8'>
    </head>
    <body>
        <header id="realheader" >
            <img src="{% static 'css/images/Minebook.png' %}" id="logo">
        </header>
        <div id="toolbar" >
            <div id="main_contect" style="padding-top: 6px;">
                <a class="tool_bar" style="font-size: 19px;letter-spacing: 2px;padding: 6px 25px 0px 25px;" href="http://127.0.0.1:8000">
                    <i class="fa-solid fa-house"> Home          </i>
                </a>
                <a class="tool_bar" style="font-size: 19px;letter-spacing: 2px;" href="http://127.0.0.1:8000/info">
                    <i class="fa-solid fa-circle-info"> info          </i>
                </a>
                {% if user_profile.profileimg %}
                <a class="tool_bar" style="font-size: 19px;letter-spacing: 2px;padding: 6px 25px 0px 25px;" href="http://127.0.0.1:8000/Profile/{{user.username}}">
                    <img src="{{user_profile.profileimg.url}}" style="height: 23px; width: 25px;border-radius: 2px;"> <p style="font-size: 25px; display: inline ;">{{user.username}}</p>
                </a>
                {% endif %}
                {% if request.user.is_superuser %}
                <a class="tool_bar" style="font-size: 19px;letter-spacing: 2px;padding: 6px 25px 0px 25px;" href="http://127.0.0.1:8000/statistics">
                    <i class="fa-solid fa-calculator-simple">Statistics</i>
                </a>
                {% endif %}
                {% if user.is_authenticated %}
                <a class="tool_bar" style="font-size: 19px;letter-spacing: 2px;padding: 6px 25px 0px 25px;" href="http://127.0.0.1:8000/logout">
                    <i class="fa-solid fa-right-to-bracket"> logout</i>
                </a>
                {% else %}
                <a class="tool_bar" style="font-size: 19px;letter-spacing: 2px;padding: 6px 25px 0px 25px;" href="http://127.0.0.1:8000/login">
                    <i class="fa-solid fa-right-to-bracket"> login/regiser</i>
                </a>
                {% endif %}
            </div>
        </div>
        {% block content%}

        {%endblock%}
        <!-- <div>
            <header id="chat" style="display: flex;flex-direction: row;align-items: center;padding: 0 0.8rem 0 0;position: relative;border-bottom: 1px solid var(--color-border-faint);background-image: url(https://www.planetminecraft.com/images/layout/smoothstone_dark.gif);">
                <div id="root">
                    
                    <input type="text">
                </div>
            </header>
        </div> -->
        <script src="http://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <!-- <script>
                axios.get('http://localhost:5000/getfiles')
                    .then((response) => {
                        const jsFiles = response.data.jsFiles;
                        const cssFiles = response.data.cssFiles;

                        elements = fileName.map(eachFileName => {
                            var script = document.createElement('script');
                            script.src = `http://localhost:5000/${eachFileName}`;
                            document.head.appendChild(script)
                            return script;
                        })
                        elements = useCss(appCss => {
                            var link = document.createElement('link');
                            link.rel = `stylesheet`;
                            link.href = `http://localhost:5000/${eachFileName}`;
                            document.head.appendChild(link)
                            return link;
                        })
                    });
            </script> -->
    </body>
</html>