{% extends 'base.html'%}
{% block content%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div id="blog">
    <br>
    <div id="main_profile" style="width: 1000px;height: 1150px;margin: 0 auto;padding-left: 5px;padding-right: 5px;">
        <div id="img_profile" style="margin-left: px;padding-top: 5px;box-sizing: content-box;width: 100%;">
            <img x="0" y="0" height="100%" width="100%" src="{{user_profile.profileimg.url}}" style="height: 64px; width: 64px;">
            <span style=" display: inline ;font-family:mine;font-size: 36px;font: bold;">{{user_profile.user.username}}</span>
            <span style=" display: inline ;">Friends: </span>
            <span style=" display: inline ;"></span>
            {% if user.username == user_profile.user.username %}
                <div style="float: right;background-image: url(https://www.planetminecraft.com/images/layout/window_bg.gif);border-radius: 3px;padding : 5px;font-size: 24px;">
                        <a href="http://127.0.0.1:8000/settings" style="color:rgb(34, 34, 34);padding : 5px">settings</a>
                </div>
            {% endif %}
        </div>
        {% if user_profile.bio %}
        <div style="background-image: url(https://www.planetminecraft.com/images/layout/window_bg.gif);border-radius: 3px; padding : 5px;font-size: 18px;">
            <h2 style=" display: inline">Abute Us:</H2>
                <br>
                {{user_profile.bio}}
        {% endif %}
        </div>
        {% if user_profile.trailer %}
        <div>
            <h2 style=" display: inline">Trailer on the server:</H2>
                <br>
                <iframe width="995" height="560"
                    src="{{user_profile.trailer}}">
                </iframe>
        </div>
        {% endif %}
        {% for post in posts reversed %}
                <div style=" width: 980px;height: auto;margin: 0 auto;padding: 10px  10px 10px;position: relative;background-image: url(https://www.planetminecraft.com/images/layout/window_bg.gif);border-radius: 3px; border: 2px;">
                    <div style=" width: 970px;height: auto;margin: 0 auto;position: relative;background-image: url(https://www.planetminecraft.com/images/layout/smoothstone_light.gif);border-radius: 3px; border: 2px;">
                        <a href="http://127.0.0.1:8000/Profile/{{post.user}}" style="color: black; padding-left: 5px;">
                            <h2 style="padding-left: 7px;display: inline-grid;">{{post.user}}</h2>
                        </a>
                        {% if post.location %}
                            <h3>{{post.locaion}}</h3>
                        {% endif %}
                        {% if post.caption %}
                            <p style="padding-left: 7px;">{{post.caption}}</p>
                        {% endif %}
                        {% if post.img %}
                            <img src="{{post.img.url}}" style=" width: 955px; height: 560px;padding: 0px 5px 0px 7px; max-width: 955px; min-width: 955px;" >
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}